body{
	visibility: hidden;
}
[data-url]{
	cursor: pointer;
}
#body{
	overflow: auto;
	//background: rgba(20,20,20,.8);
	width: auto;
	#official_sponsors_div{
		width: 300px;
		float: left;
		overflow: hidden;
      /*
		::-webkit-scrollbar {
			width: 10px;
		}

		::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.9);
			border-radius: 8px;
		}

		::-webkit-scrollbar-thumb {
			border-radius: 8px;
			-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,1);
		}
	  */
		> div.sponsor_div{
			min-height: 100px;
			max-height: 150px;
			box-shadow: inset 0 0 20px rgba(0,0,0,1);
			background: rgba(20,20,20,.1);
			font: 400 15px/1.2 "Ubuntu";
			color: rgba(202,222,227,1);
			margin: 10px 0 0 0;
			overflow: auto;
			&:first-child{
				//margin: 0;
			}
			> div{
				float: left;
				&.sponsor_image_div{
					padding: 10px;
					width: 80px;
					height: 80px;
					> img{
						max-height: 80px;
						max-width: 80px;
					}
				}
				&.sponsor_desc_div{
					margin: 10px 10px 10px 0;
					width: 190px;
					min-height: 80px;
                    max-height: 130px;
                    overflow-y: auto;
                    > div{
                      max-width: 190px;
                      font: 400 14px/1.2 'Ubuntu';
                    }
				}
			}
		}
		#place_ad_div{
			padding: 5px;
			text-align: center;
			a{
				font: 400 14px/1.2 "Ubuntu";
				color: rgba(202,222,227,.5);
				text-decoration: none;
			}
			a:hover{
				text-decoration: underline;
			}
		}
	}
	#publisher_ad_div{
		background: white;
		float: left;
		overflow: hidden;
		min-height: 200px;
		/*
		::-webkit-scrollbar {
			//-webkit-box-shadow: 0 0 10px 0 rgba(0,0,50,1); //, inset 0 0 8px rgba(0,0,0,.7);
			width: 16px;
			background: rgba(30,100,140,.3);
			border-left: solid 1px rgba(255,255,255,1);
		}
		::-webkit-scrollbar-track {

		}
		::-webkit-scrollbar-button:decrement{
//			border-bottom: solid 1px rgba(30,100,140,1);
			width: 16px;
			height: 16px;
			background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAsUlEQVQ4T2NkoBAwUqifgZABGUAL/gPxTFwW4TOgAqipHaqxEkh3YDMElwHImmH6sBqCzQCQwjYcTsYwBN2AMKDGFUCMy2Wg8ACpWQOzAF3hHKBEMjTgdgBpT6jC7UDaA2rwLCCdjssAZaBEERAfgCpYBaVBtoIsAxnSAsT3cBmA7PVQIAfZgNWkxAJI7cAbYAx0xWmos0Hs86R6AaTeGhojx7BpBokRygu49MHFKTYAACC/HhHry73iAAAAAElFTkSuQmCC");
		}
		::-webkit-scrollbar-button:increment{
//			border-top: solid 1px rgba(30,100,140,1);
			width: 16px;
			height: 16px;
			background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAzklEQVQ4T2NkoBAwUqifAZ8BYkDDDwLxfyC2B+LX2CzDZ0AQUMNaqKZgIL2OVANCgRpWQTWFAenVdDEA5CVzIL4GxO5oLtgF5GsC8UlouIAdhB4GtUCxJiB+AMTTgLgL6uwyIJ0NxPJAXA3EbTDvoBvQAZQoh0r+BdLMWNjtQLEqXAawQp0dgC3AgGLrgTgciH/jMgAkDjJkJRAHohmCoRlbGMD0oBsCSgMRyDbjcwG6IT+BAjFADAoTDEAoL7BDdYAMwQoIGYBLH1ycYgMAiZckEf1aK50AAAAASUVORK5CYII=");
		}
		::-webkit-scrollbar-thumb {;
			//-webkit-box-shadow: inset 0 0 8px rgba(30,100,140,.8);
			border-left: solid 1px rgba(255,255,255,1);
			background: rgba(30,100,140,.5);
		}
		*/
		#ad_iframe{
			border: none;
		}
	}
}