#heart {
  font-size: 25px;
}
#jai_sri_krsna {
  color: rgba(202, 222, 227, 0.5);
}
#aum {
  color: rgba(202, 222, 227, 0.3);
}
.elevated_button {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Yanone Kaffeesatz';
  font-weight: 700;
  font-size: 3em;
  display: block;
  padding: 4px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin: 100px auto;
  width: 160px;
  text-align: center;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}
.elevated_button._blue {
  background-color: #2987bd;
  -webkit-box-shadow: 0px 9px 0px #1e648c, 0px 9px 25px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 9px 0px #1e648c, 0px 9px 25px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 9px 0px #1e648c, 0px 9px 25px rgba(0, 0, 0, 0.7);
}
.elevated_button._red {
  background-color: #c71b1b;
  -webkit-box-shadow: 0px 9px 0px #961414, 0px 9px 25px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 9px 0px #961414, 0px 9px 25px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 9px 0px #961414, 0px 9px 25px rgba(0, 0, 0, 0.7);
}
.elevated_button._green {
  background-color: #3aae17;
  -webkit-box-shadow: 0px 9px 0px #329614, 0px 9px 25px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 9px 0px #329614, 0px 9px 25px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 9px 0px #329614, 0px 9px 25px rgba(0, 0, 0, 0.7);
}
.elevated_button._orange {
  background-color: #db5605;
  -webkit-box-shadow: 0px 9px 0px #db1e05, 0px 9px 25px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 9px 0px #db1e05, 0px 9px 25px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 9px 0px #db1e05, 0px 9px 25px rgba(0, 0, 0, 0.7);
}
.elevated_button._yellow {
  background-color: #b99034;
  -webkit-box-shadow: 0px 9px 0px #a07f2a, 0px 9px 25px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 9px 0px #a07f2a, 0px 9px 25px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 9px 0px #a07f2a, 0px 9px 25px rgba(0, 0, 0, 0.7);
}
.elevated_button._cyan {
  background-color: #3c9b9a;
  -webkit-box-shadow: 0px 9px 0px #317d7c, 0px 9px 25px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 9px 0px #317d7c, 0px 9px 25px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 9px 0px #317d7c, 0px 9px 25px rgba(0, 0, 0, 0.7);
}
.elevated_button:active {
  position: relative;
  top: 6px;
}
.elevated_button:active._blue {
  -webkit-box-shadow: 0px 3px 0px #1e648c, 0px 3px 6px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 3px 0px #1e648c, 0px 3px 6px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 3px 0px #1e648c, 0px 3px 6px rgba(0, 0, 0, 0.9);
}
.elevated_button:active._red {
  -webkit-box-shadow: 0px 3px 0px #961414, 0px 3px 6px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 3px 0px #961414, 0px 3px 6px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 3px 0px #961414, 0px 3px 6px rgba(0, 0, 0, 0.9);
}
.elevated_button:active._orange {
  -webkit-box-shadow: 0px 3px 0px #db1e05, 0px 3px 6px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 3px 0px #db1e05, 0px 3px 6px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 3px 0px #db1e05, 0px 3px 6px rgba(0, 0, 0, 0.9);
}
.elevated_button:active._green {
  -webkit-box-shadow: 0px 3px 0px #329614, 0px 3px 6px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 3px 0px #329614, 0px 3px 6px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 3px 0px #329614, 0px 3px 6px rgba(0, 0, 0, 0.9);
}
.elevated_button:active._yellow {
  -webkit-box-shadow: 0px 3px 0px #a07f2a, 0px 3px 6px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 3px 0px #a07f2a, 0px 3px 6px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 3px 0px #a07f2a, 0px 3px 6px rgba(0, 0, 0, 0.9);
}
.elevated_button:active._cyan {
  -webkit-box-shadow: 0px 3px 0px #317d7c, 0px 3px 6px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 3px 0px #317d7c, 0px 3px 6px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 3px 0px #317d7c, 0px 3px 6px rgba(0, 0, 0, 0.9);
}
[disabled] {
  cursor: default !important;
}
