@import url(http://fonts.googleapis.com/css?family=Architects+Daughter|Trade+Winds|Ubuntu+Mono|Ubuntu:400,700);
* {
  margin: 0;
  padding: 0; }

a {
  color: #329614;
  font-style: italic; }

body {
  font: 400 14px/1.2 'Architects Daughter';
  color: #1e648c;
  background: url(/assets/back.jpg); }

table {
  border-collapse: collapse; }

table, table tr, table td {
  padding: none;
  border: none;
  border-spacing: 0;
  margin: none; }

.smallest {
  font-size: 10px !important; }

.smaller {
  font-size: 12px !important; }

.small {
  font-size: 14px !important; }

.normal_size {
  font-size: 16px !important; }

.large {
  font-size: 18px !important; }

.larger {
  font-size: 20px !important; }

.largest {
  font-size: 22px !important; }

.bold {
  font-weight: 900 !important; }

.red {
  color: #961414 !important; }

.green {
  color: #329614 !important; }

.blue {
  color: #1e648c !important; }

.black {
  color: rgba(0, 0, 0, 0.8) !important; }

.script {
  font-family: "Ubuntu Mono"; }
  .script .s_var {
    color: #963214;
    font-weight: 900; }
  .script .s_num {
    color: #329614;
    font-weight: 900; }
  .script .s_comment {
    color: #646464; }

.bold {
  font-weight: 900; }

.red {
  color: #963214; }

.green {
  color: #329614; }

.blue {
  color: #1e648c; }

.textInput {
  width: 150px;
  background: rgba(255, 255, 255, 0);
  border: solid 1px rgba(30, 100, 140, 0.8);
  font: 400 16px/1 "Ubuntu";
  line-height: 1;
  padding: 4px 5px;
  color: #1e648c; }
  .textInput:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(30, 100, 140, 0.8); }
  .textInput[disabled] {
    border: solid 1px rgba(100, 100, 100, 0.8);
    background: gainsboro; }

.center {
  text-align: center; }

.left {
  float: left; }

.ubuntu {
  font: 400 12px/1 'Ubuntu'; }

.button {
  font: 400 16px/1 'Ubuntu';
  line-height: 1;
  background: #3c82b4;
  padding: 5px;
  color: white;
  border: solid 1px #14466e;
  cursor: pointer; }
  .button:hover {
    background: rgba(60, 130, 180, 0.9);
    box-shadow: 0 0 10px 0 #1e648c;
    -moz-box-shadow: 0 0 5px 0 #1e648c; }
  .button:focus {
    outline: none; }
  .button[disabled] {
    border: solid 1px #646464;
    background: #b4b4b4;
    color: #646464; }
    .button[disabled]:hover {
      box-shadow: none; }

.heading {
  font-family: "Trade Winds";
  font-size: 1.5em; }

.display {
  display: block; }

.nodisplay {
  display: none; }

header {
  color: #1e648c;
  text-align: center;
  text-shadow: 0 0 8px rgba(30, 100, 140, 0.8);
  padding: 10px 0 15px 0;
  margin: 0 0 30px 0;
  background-color: rgba(255, 255, 255, 0.6);
  background-image: url(/assets/verticalbar.png);
  background-repeat: repeat-x;
  background-position: 0 100%;
  box-shadow: 0 0 15px 0 black;
  font-size: 0;
  /*
  	>div:first-child{
  		font: 400 2.5em/1 "Trade Winds";
  	}
  	>div:nth-child(2){
  		font: 400 1.1em/1 "Berkshire Swash";
  	}
  	*/ }

.selected {
  box-shadow: inset 0 0 10px #1e648c;
  background: rgba(30, 100, 140, 0.6) !important;
  color: white; }

#body {
  width: 802px;
  margin: auto; }
  #body > #menu tr td div {
    padding: 10px; }
    #body > #menu tr td div:not(#user_det_panel) {
      background: rgba(255, 255, 255, 0.6); }
    #body > #menu tr td div#user_det_panel {
      border: none;
      font-size: 14px;
      font-weight: 400;
      cursor: default; }
    #body > #menu tr td div.choices {
      border: solid 1px #1e648c;
      border-left: none;
      border-bottom: none;
      font-size: 16px;
      font-weight: 900; }
    #body > #menu tr td div.choices:hover:not(.selected) {
      box-shadow: inset 0 0 10px rgba(30, 100, 140, 0.6);
      background: rgba(140, 200, 240, 0.5) !important; }
    #body > #menu tr td div:not(.selected) {
      cursor: pointer; }
  #body > #menu tr td:first-child div {
    border-left: solid 1px #1e648c; }
  #body > #content {
    background: rgba(255, 255, 255, 0.6);
    border: solid 1px #1e648c;
    box-shadow: 0 4px 6px 0 #1e648c;
    -webkit-box-shadow: 0 4px 10px #1e648c; }

footer {
  margin: 20px 0 0 0;
  box-shadow: inset 0 0 10px black;
  background: rgba(0, 0, 0, 0.7);
  font: 400 15px/1.2 "Ubuntu";
  color: #cadee3; }
  footer hr {
    border: solid 1px rgba(202, 222, 227, 0.2); }
  footer a {
    color: #cadee3;
    text-decoration: none;
    font-style: normal; }
  footer a:hover {
    text-decoration: underline; }
  footer > div {
    margin: auto;
    padding: 20px;
    width: 800px; }
    footer > div > div:first-child {
      padding: 0 0 10px 0; }
    footer > div > div:nth-child(3) {
      margin: 10px 0 0 0; }
      footer > div > div:nth-child(3) ul {
        list-style-type: none; }
      footer > div > div:nth-child(3) table td {
        width: 200px; }

aside#invisibles {
  display: none; }

@-moz-document url-prefix() {
  .textInput {
    font: 400 14px/1 "Ubuntu"; }

  .button {
    font: 400 14px/1 "Ubuntu";
    padding: 3px;
    height: 28px; }

  #shorten_textarea {
    font: 400 14px/1 'Ubuntu' !important; } }
