@import url(https://fonts.googleapis.com/css?family=Architects+Daughter|Trade+Winds|Berkshire+Swash|Ubuntu:400,700);
* {
  margin: 0;
  padding: 0; }

a {
  color: #50b478;
  font-style: italic; }

body {
  font: 400 14px/1.2 'Architects Daughter';
  color: #1e648c;
  background: url(/assets/subtle-light-pattern-background.jpg); }

.bold {
  font-weight: 900 !important; }

.red {
  color: #961414 !important; }

.green {
  color: #329614 !important; }

.blue {
  color: #1e648c !important; }

.black {
  color: rgba(0, 0, 0, 0.8) !important; }

.smallest {
  font-size: 10px !important; }

.smaller {
  font-size: 12px !important; }

.small {
  font-size: 14px !important; }

.normal_size {
  font-size: 16px !important; }

.large {
  font-size: 18px !important; }

.larger {
  font-size: 20px !important; }

.largest {
  font-size: 22px !important; }

table, table tr, table td {
  padding: none;
  border: none;
  border-spacing: 0;
  margin: none; }

.textInput {
  width: 150px;
  background: rgba(255, 255, 255, 0);
  border: solid 1px rgba(30, 100, 140, 0.8);
  font: 400 16px/1 "Ubuntu";
  padding: 4px 5px;
  line-height: 1;
  color: #1e648c; }
  .textInput:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(30, 100, 140, 0.8); }
  .textInput[disabled] {
    border: solid 1px rgba(100, 100, 100, 0.8);
    background: gainsboro; }

.center {
  text-align: center; }

.ubuntu {
  font: 400 12px/1 'Ubuntu'; }

.button {
  font: 400 16px/1 'Ubuntu';
  background: #3c82b4;
  line-height: 1;
  padding: 5px;
  color: white;
  border: solid 1px #14466e;
  cursor: pointer; }
  .button:hover {
    background: rgba(60, 130, 180, 0.9);
    box-shadow: 0 0 10px 0 #1e648c;
    -moz-box-shadow: 0 0 5px 0 #1e648c; }
  .button:focus {
    outline: none; }
  .button[disabled] {
    border: solid 1px #646464;
    background: #b4b4b4;
    color: #646464; }
    .button[disabled]:hover {
      box-shadow: none; }

.heading {
  font-family: "Trade Winds";
  font-size: 1.5em; }

.display {
  display: block; }

.nodisplay {
  display: none; }

header {
  color: #1e648c;
  text-align: center;
  text-shadow: 0 0 8px rgba(30, 100, 140, 0.8);
  padding: 10px 0 15px 0;
  margin: 0 0 30px 0;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url(/assets/verticalbar.png);
  background-repeat: repeat-x;
  background-position: 0 100%;
  box-shadow: 0 0 15px 0 black; }
  header > div:first-child {
    font: 400 2.5em/1 "Trade Winds"; }
  header > div:nth-child(2) {
    font: 400 1.1em/1 "Berkshire Swash"; }

#body {
  width: 800px;
  margin: auto;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  height: 248.8px;
  overflow: hidden;
  /*border-radius: 10px;*/ }
  #body > div {
    height: 100%;
    width: 1400px;
    position: absolute; }
    #body > div #description {
      width: 560px;
      padding: 20px;
      float: left;
      height: 208.8px; }
      #body > div #description table#desc tr > td {
        width: 300px;
        text-align: center; }
      #body > div #description table#desc tr > td:first-child {
        border-right: 1px solid rgba(30, 100, 140, 0.5); }
      #body > div #description table#desc tr:first-child {
        height: 35px; }
      #body > div #description .elclassico {
        width: 280px;
        height: 120px;
        padding: 10px;
        background-color: rgba(30, 100, 140, 0.1);
        font-size: 1.2em;
        /*box-shadow: inset 0 0 10px rgba(30, 100, 140, .5);*/ }
    #body > div #middle {
      width: 160px;
      padding: 20px;
      float: left;
      background-color: rgba(30, 100, 140, 0.2);
      font-family: "Trade Winds";
      font-size: 1.5em;
      text-align: center;
      height: 208.8px;
      cursor: pointer; }
      #body > div #middle > div {
        margin-top: 62px; }
        #body > div #middle > div > table:first-child td:first-child {
          width: 140px; }
        #body > div #middle > div > table:first-child td:last-child {
          width: 20px;
          font-size: 2em; }
        #body > div #middle > div > table:last-child td:first-child {
          width: 20px;
          font-size: 2em; }
        #body > div #middle > div > table:last-child td:last-child {
          width: 140px; }
    #body > div #loginRegister {
      width: 560px;
      padding: 20px;
      float: right;
      height: 208.8px; }
      #body > div #loginRegister .textInput {
        padding: 0; }
      #body > div #loginRegister table#logreg > tbody > tr > td {
        width: 340px;
        text-align: center; }
        #body > div #loginRegister table#logreg > tbody > tr > td:first-child {
          width: 260px;
          border-right: 1px solid rgba(30, 100, 140, 0.5); }
      #body > div #loginRegister table#logreg > tbody > tr:nth-child(2) td table tr td {
        text-align: right;
        height: 30px; }
        #body > div #loginRegister table#logreg > tbody > tr:nth-child(2) td table tr td span {
          margin: 0 5px;
          font-size: 1.16em; }

#tryit {
  width: 800px;
  margin: 15px auto 0 auto; }
  #tryit > div:first-child {
    padding: 0 0 5px 0;
    border-bottom: solid 1px rgba(30, 100, 140, 0.5); }
  #tryit > div:nth-child(2) {
    margin-top: 10px; }
    #tryit > div:nth-child(2) form#try_it div:nth-child(2) {
      display: table; }
      #tryit > div:nth-child(2) form#try_it div:nth-child(2) > div {
        display: table-row;
        float: left;
        margin: 0 10px 0 0;
        height: 28px; }
        #tryit > div:nth-child(2) form#try_it div:nth-child(2) > div:nth-child(3) > textarea {
          color: #1e648c;
          font: 400 16px/1 "Ubuntu";
          padding: 5px;
          max-height: 16px; }
        #tryit > div:nth-child(2) form#try_it div:nth-child(2) > div:nth-child(4) {
          font: 400 16px/1 "Ubuntu";
          padding: 6px 0;
          cursor: pointer; }
        #tryit > div:nth-child(2) form#try_it div:nth-child(2) > div:last-child {
          margin: 0; }
        #tryit > div:nth-child(2) form#try_it div:nth-child(2) > div input.textInput {
          width: 400px; }

footer {
  margin: 20px 0 0 0;
  box-shadow: inset 0 0 10px black;
  background: rgba(0, 0, 0, 0.7);
  font: 400 15px/1.2 "Ubuntu";
  color: #cadee3; }
  footer hr {
    border: solid 1px rgba(202, 222, 227, 0.2); }
  footer a {
    color: #cadee3;
    text-decoration: none;
    font-style: normal; }
  footer a:hover {
    text-decoration: underline; }
  footer > div {
    margin: auto;
    padding: 20px;
    width: 800px; }
    footer > div > div:first-child {
      padding: 0 0 10px 0; }
    footer > div > div:nth-child(3) {
      margin: 10px 0 0 0; }
      footer > div > div:nth-child(3) ul {
        list-style-type: none; }
      footer > div > div:nth-child(3) table td {
        width: 200px; }

@-moz-document url-prefix() {
  .textInput {
    font: 400 14px/1 "Ubuntu"; }

  .button {
    font: 400 14px/1 "Ubuntu";
    padding: 3px;
    height: 28px; } }
