<div id="brief_stats">
    <table>
        <tr>
            <td>
                <div>
                    <div>Views today</div>
                    <div>223</div>
                </div>
            </td>
            <td>
                <div>
                    <div>Cost today</div>
                    <div>$ 2.23</div>
                </div>
            </td>
            <td>
                <div>
                    <div>Total views</div>
                    <div>12300</div>
                </div>
            </td>
            <td>
                <div>
                    <div>Total cost</div>
                    <div>$ 12.30</div>
                </div>
            </td>
        </tr>
    </table>
</div>

<div id="how_to_proceed_div">
	<div class="heading">
		How to proceed?
	</div>
	<div>
		<ul>
			<li>Create an add first by clicking on the "create ad" tab</li>
			<li>Create an add first by clicking on the create ad</li>
			<li>Create an add first by clicking on the create</li>
		</ul>
	</div>
</div>