body{
	visibility: hidden;
}
textarea{
	min-width: 350px;
	min-height: 75px;
	background: rgba(255,255,255,0);
	border: solid 1px rgba(30, 100, 140,.8);
	line-height: 1;
	padding: 4px 5px;
	color: rgba(30, 100, 140,1);
	&:focus{
		outline: none;
		box-shadow: 0 0 10px rgba(30, 100, 140,.8);
	};
	&[disabled]{
		border: solid 1px rgba(100, 100, 100,.8);
		background: rgba(220,220,220,1);
	}
}
.textInput{
	width: 350px;
}
#content{
	> div{
		padding: 20px;
	}
	#design_ad_form_div{
		table{
			label{
				font: 400 14px/1 "Ubuntu"; 
			}
			tr{
				td{
					> div{
						padding: 5px;
					}
					&:nth-child(2){
						#image_list_div{
							margin: 5px;
							padding: 5px;
							background: rgba(140, 100, 30, 0.3);
							font: 400 14px/1.2 "Ubuntu";
						}
					}
				}
			}
		}
	}
}
#preview_div{
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	background: rgba(250,250,250,.7) !important;
	> div{
		margin: 50px;
		box-shadow: 0 0 10px 0 rgba(0,0,0,1);
		overflow: hidden;
		background: white;
		> #ad_iframe{
			display: none;
			width: inherit;
			height: inherit;
			border: none;
		}
		> img{
			//box-shadow: 0 0 10px 0 rgba(30,100,140,1)
		}
	}
}
#preview_div_close{
	position: fixed;
	right: 70px;
	top: 10px;
	color: rgb(240,90,80);
	text-shadow: 0 0 10px rgb(255,100,90);
	font-size: 30px;
	cursor: pointer;
}