body {
  visibility: hidden; }

textarea {
  min-width: 400px;
  min-height: 100px;
  background: rgba(255, 255, 255, 0);
  border: solid 1px rgba(30, 100, 140, 0.8);
  line-height: 1;
  padding: 4px 5px;
  color: #1e648c; }
  textarea:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(30, 100, 140, 0.8); }
  textarea[disabled] {
    border: solid 1px rgba(100, 100, 100, 0.8);
    background: gainsboro; }

.textInput {
  width: 400px; }

.remove_img {
  cursor: pointer;
  color: #1e648c; }

#content > div {
  padding: 20px; }
#content #design_ad_form_div table label {
  font: 400 14px/1 "Ubuntu"; }
#content #design_ad_form_div table tr td > div {
  padding: 5px; }
#content #design_ad_form_div table tr td:nth-child(2) #image_list_div {
  margin: 5px;
  padding: 5px;
  background: rgba(140, 100, 30, 0.3);
  font: 400 14px/1.2 "Ubuntu"; }
  #content #design_ad_form_div table tr td:nth-child(2) #image_list_div .uploaded_image {
    cursor: pointer; }
    #content #design_ad_form_div table tr td:nth-child(2) #image_list_div .uploaded_image:hover {
      color: #961414 !important; }

#preview_div {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  background: rgba(250, 250, 250, 0.7) !important; }
  #preview_div > div {
    margin: 50px;
    box-shadow: 0 0 10px 0 black;
    overflow: hidden;
    background: white; }
    #preview_div > div > #ad_iframe {
      display: none;
      width: inherit;
      height: inherit;
      border: none; }

#preview_div_close {
  position: fixed;
  right: 70px;
  top: 10px;
  color: #f05a50;
  text-shadow: 0 0 10px #ff645a;
  font-size: 30px;
  cursor: pointer; }

#image_div {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  background: rgba(250, 250, 250, 0.7) !important; }
  #image_div > div {
    margin: 50px;
    box-shadow: 0 0 10px 0 black;
    overflow: hidden;
    background: #fafafa;
    background: #b9cace;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #b9cace 0%, #fafafa 70%, #fafafa 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #b9cace), color-stop(70%, #fafafa), color-stop(100%, #fafafa));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #b9cace 0%, #fafafa 70%, #fafafa 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #b9cace 0%, #fafafa 70%, #fafafa 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #b9cace 0%, #fafafa 70%, #fafafa 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #b9cace 0%, #fafafa 70%, #fafafa 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b9cace', endColorstr='#fefcea',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
    #image_div > div > img:last-child {
      display: none;
      #			border: solid 1px rgba(30, 100, 140, 0.3); }

#image_div_close {
  position: fixed;
  right: 70px;
  top: 10px;
  color: #f05a50;
  text-shadow: 0 0 10px #ff645a;
  font-size: 30px;
  cursor: pointer; }
