#content #brief_stats {
  padding: 10px;
  font-size: 15px;
  font-weight: 900;
  font-family: "Ubuntu";
  border-bottom: solid 1px #1e648c;
  margin: auto;
  background: rgba(30, 100, 140, 0.15); }
  #content #brief_stats tr td {
    width: 195px; }
    #content #brief_stats tr td div {
      margin: 0 10px 0 0;
      font-size: 16px;
      text-align: center; }
      #content #brief_stats tr td div > div:first-child {
        border-bottom: dotted 2px rgba(30, 100, 140, 0.5); }
    #content #brief_stats tr td:last-child div {
      margin: 0; }
#content #how_to_proceed_div {
  padding: 20px; }
  #content #how_to_proceed_div > div:nth-child(2) {
    padding: 0 20px;
    font: 400 16px/1.2 "Ubuntu"; }
