#content > div:nth-child(odd) {
  border-bottom: solid 1px #1e648c;
  border-top: solid 1px #1e648c;
  background: rgba(30, 100, 140, 0.15); }
#content > div:first-child {
  border-top: none; }
#content > div:last-child {
  border-bottom: none; }
#content #description_div {
  font: 400 16px/1.2 "Ubuntu";
  padding: 20px; }
#content #deposit_div {
  padding: 20px; }
  #content #deposit_div > div:nth-child(2) {
    margin: 5px 0; }
  #content #deposit_div #success_div {
    margin: 5px 0;
    padding: 5px;
    font: 900 16px/1 'Ubuntu';
    background: rgba(50, 150, 20, 0.3);
    border: solid 1px #329614; }
  #content #deposit_div #deposit_form_div #deposit_form *:nth-child(odd) {
    margin: 0 10px 0 0; }
  #content #deposit_div #deposit_form_div #deposit_form .textInput {
    width: 100px; }
  #content #deposit_div #deposit_form_div #deposit_form label {
    font: 400 14px/1 'Ubuntu'; }
#content #wallet_stats_div {
  background-repeat: no-repeat;
  background-position: 90% 60%;
  background-image: url(/assets/stats.png);
  padding: 20px; }
  #content #wallet_stats_div #wallet_stats_table_div {
    margin: 5px 0 0 0; }
    #content #wallet_stats_div #wallet_stats_table_div table tr td div {
      font-size: 16px; }
#content #transactions_div {
  padding: 20px; }
  #content #transactions_div #transactions_list_div {
    margin: 10px 0 10px 0; }
    #content #transactions_div #transactions_list_div table tr td:nth-child(1) {
      width: 100px; }
    #content #transactions_div #transactions_list_div table tr td:nth-child(2) {
      width: 220px; }
    #content #transactions_div #transactions_list_div table tr td:nth-child(3) {
      width: 220px; }
    #content #transactions_div #transactions_list_div table tr td:nth-child(4) {
      width: 220px; }
    #content #transactions_div #transactions_list_div table tr td div {
      text-align: center; }
