body {
  visibility: hidden; }

#vertical_bar_div {
  height: 3px;
  background-image: url(/assets/verticalbar.png); }

[data-url] {
  cursor: pointer; }

#body {
  overflow: auto;
  width: auto; }
  #body #official_sponsors_div {
    width: 300px;
    float: left;
    overflow: hidden;
      /*
		::-webkit-scrollbar {
			width: 10px;
		}

		::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.9);
			border-radius: 8px;
		}

		::-webkit-scrollbar-thumb {
			border-radius: 8px;
			-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,1);
		}
	  */ }
    #body #official_sponsors_div > div.sponsor_div {
      min-height: 100px;
      max-height: 150px;
      box-shadow: inset 0 0 20px black;
      background: rgba(20, 20, 20, 0.1);
      font: 400 15px/1.2 "Ubuntu";
      color: #cadee3;
      margin: 10px 0 0 0;
      overflow: auto; }
      #body #official_sponsors_div > div.sponsor_div > div {
        float: left; }
        #body #official_sponsors_div > div.sponsor_div > div.sponsor_image_div {
          padding: 10px;
          width: 80px;
          height: 80px; }
          #body #official_sponsors_div > div.sponsor_div > div.sponsor_image_div > img {
            max-height: 80px;
            max-width: 80px; }
        #body #official_sponsors_div > div.sponsor_div > div.sponsor_desc_div {
          margin: 10px 10px 10px 0;
          width: 190px;
          min-height: 80px;
          max-height: 130px;
          overflow-y: auto; }
          #body #official_sponsors_div > div.sponsor_div > div.sponsor_desc_div > div {
            max-width: 190px;
            font: 400 14px/1.2 'Ubuntu'; }
    #body #official_sponsors_div #place_ad_div {
      padding: 5px;
      text-align: center; }
      #body #official_sponsors_div #place_ad_div a {
        font: 400 14px/1.2 "Ubuntu";
        color: rgba(202, 222, 227, 0.5);
        text-decoration: none; }
      #body #official_sponsors_div #place_ad_div a:hover {
        text-decoration: underline; }
  #body #publisher_ad_div {
    background: white;
    float: left;
    overflow: hidden;
    min-height: 200px; }
    #body #publisher_ad_div #ad_iframe {
      border: none; }

#question_answer_outer_div {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7); }
  #question_answer_outer_div #question_answer_inner_div {
    overflow-y: hidden;
    background: url(/assets/old_map.png);
    margin: 50px;
    box-shadow: 0 0 15px #000; }
    #question_answer_outer_div #question_answer_inner_div > #question_answer_inner_inner_div {
      margin: 10px 0;
      overflow-y: auto; }
      #question_answer_outer_div #question_answer_inner_div > #question_answer_inner_inner_div #question_div {
        padding: 15px 50px;
        border-bottom: solid 1px #1e648c;
        border-top: solid 1px #1e648c;
        background: rgba(30, 100, 140, 0.15); }
      #question_answer_outer_div #question_answer_inner_div > #question_answer_inner_inner_div #answers_div {
        padding: 15px 50px;
        overflow-y: auto; }
        #question_answer_outer_div #question_answer_inner_div > #question_answer_inner_inner_div #answers_div .answer_div {
          margin: 0 0 20px 0; }
          #question_answer_outer_div #question_answer_inner_div > #question_answer_inner_inner_div #answers_div .answer_div .answer_a {
            font-family: "Ubuntu" !important;
            font-size: 16px !important;
            padding: 12px 18px !important;
            width: auto !important;
            margin: 0 !important;
            display: inline-block; }

#question_answer_div_close {
  display: none;
  position: absolute;
  right: 70px;
  top: 10px;
  color: #f05a50;
  text-shadow: 0 0 10px #ff645a;
  font-size: 30px;
  cursor: pointer; }
