<div id="official_sponsors_div">
    <div class="sponsor_div">
		<div class="sponsor_image_div">
			<img data-target="_blank" data-url="http://google.com" src="<%= image_url '1388519884_icontexto-inside-google.png' %>" />
		</div>
	    <div class="sponsor_desc_div">
		    <div>
		        Google is an American multinational corporation specializing in Internet-related services and products. These include search, cloud computing, software, and online advertising technologies. Most of its profits are derived from AdWords.
		    </div>
		</div>
    </div>
    <div class="sponsor_div">
        <div class="sponsor_image_div">
			<img data-target="_blank" data-url="http://twitter.com" src="<%= image_url '1388519927_icontexto-inside-twitter.png' %>" />
        </div>
        <div class="sponsor_desc_div">
	        <div>
	            Twitter is an online social networking and microblogging service that enables users to send and read "tweets", which are text messages limited to 140 characters.
	        </div>
        </div>
    </div>
    <div class="sponsor_div">
        <div class="sponsor_image_div">
            <img data-target="_blank" data-url="http://fb.com" src="<%= image_url '1388519330_icontexto-inside-facebook.png' %>" />
        </div>
        <div class="sponsor_desc_div">
	        <div>
	            Facebook is an online social networking service.
	        </div>
        </div>
    </div>
	<div id="place_ad_div">
		<a href="">&uparrow; Place your ad here &uparrow;</a>
	</div>
	<footer>
	    <div>Made with <span id="heart">&hearts;</span> in Mauritius, Mah&eacute;bourg... :*</div>
	    <div>ily.io &copy; <%= Time.now.year %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<span id="jai_sri_krsna" style="color: rgba(202,222,227,.3)">जय श्री कृष्ण</span><!--&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<span id="aum">ॐ</span>--></div>
	</footer>
</div>
<div id="publisher_ad_div">
    <iframe id="ad_iframe" src="http://adf.ly"></iframe>
</div>