// Place all the styles related to the intersital controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Architects+Daughter|Roboto+Slab:400,700|Trade+Winds|Ubuntu+Condensed|Cantora+One|Ubuntu+Mono|Ubuntu:400,700);

*{
	margin: 0;
	padding: 0;
}
a{
	color: rgba(50, 150, 10, 1);
	font-style: italic;
}
body{
	font: 400 14px/1.2 'Architects Daughter';
	color: rgba(30, 100, 140, 1);
	background: image-url("back.jpg");   //Or back2.png
}

table{
	border-collapse:collapse;
}

table, table tr, table td {
	padding:none;
	border:none;
	border-spacing:0;
	margin: none;
}

.smallest{
	font-size: 10px !important;
}
.smaller{
	font-size: 12px !important;
}
.small{
	font-size: 14px !important;
}
.normal_size{
	font-size: 16px !important;
}
.large{
	font-size: 18px !important;
}
.larger{
	font-size: 20px !important;
}
.largest{
	font-size: 22px !important;
}

.bold{
	font-weight: 900 !important;
}
.red{
	color: rgba(150,20,20,1) !important;
}
.green{
	color: rgba(50,150,20,1) !important;
}
.blue{
	color: rgba(30,100,140,1) !important;
}
.black{
	color: rgba(0,0,0,.8) !important;
}
.script{
	font-family: "Ubuntu Mono";
	.s_var{
		color: rgba(150,50,20,1);
		font-weight: 900;
	}
	.s_num{
		color: rgba(50,150,20,1);
		font-weight: 900;
	}
	.s_comment{
		color: rgba(100,100,100,1);
	}
}

.bold{
	font-weight: 900;
}
.red{
	color: rgba(150,50,20,1);
}
.green{
	color: rgba(50,150,20,1);
}
.blue{
	color: rgba(30,100,140,1);
}

.textInput{
	width: 150px;
	background: rgba(255,255,255,0);
	border: solid 1px rgba(30, 100, 140,.8);
	font: 400 16px/1 "Ubuntu";
	line-height: 1;
	padding: 4px 5px;
	color: rgba(30, 100, 140,1);
	&:focus{
		outline: none;
		box-shadow: 0 0 10px rgba(30, 100, 140,.8);
	};
	&[disabled]{
		border: solid 1px rgba(100, 100, 100,.8);
		background: rgba(220,220,220,1);
	}
}
.center{
	text-align: center;
}
.left{
	float: left;
}
.ubuntu{
	font: 400 12px/1 'Ubuntu';
}
.button{
	font: 400 16px/1 'Ubuntu';
	line-height: 1;
	background: rgba(60, 130, 180, 1);
	padding: 5px;
	color: rgba(255,255,255,1);
	border: solid 1px rgba(20, 70, 110, 1);
	cursor: pointer;
	&:hover{
		background: rgba(60, 130, 180, .9);
		box-shadow:0 0 10px 0 rgba(30, 100, 140, 1);
		-moz-box-shadow:0 0 5px 0 rgba(30, 100, 140, 1);
	}
	&:focus{
		outline: none;
	}
	&[disabled]{
		border: solid 1px rgba(100,100,100,1);
		background: rgba(180, 180, 180, 1);
		color: rgba(100,100,100,1);
		&:hover{
			box-shadow: none;
		}
	}
}
.heading{
	font-family: "Trade Winds";
	font-size: 1.5em;
}

.display{
	display: block;
}

.nodisplay{
	display: none;
}

//----------------------------------------------overlay----------------------------------------

#overlay{
	background: rgba(20,20,20,.8);
}

//-------------------------------------------- header here ------------------------------------

header{
	color: rgba(30, 100, 140, 1);
	text-shadow: 0 0 8px rgba(30, 100, 140, .8);
	padding: 10px 0 15px 0;
	background-color: rgba(235,235,255, 1);
	background-image: image-url("verticalbar.png");
	background-repeat: repeat-x;
	background-position: 0 100%;
//	box-shadow: inset 0 0 20px rgba(0,0,0,1);
	font-size: 0;
	> div{
		overflow: auto;
		width: 800px;
		margin: auto;
		> div{
			float: left;
		}
		> div:nth-child(1){
			width: 150px;
			> div{
				width: 150px;
			}
		}
		> div:nth-child(2){
			width: 490px;
			height: 50px;
		}
		> div:nth-child(3){
			width: 160px;
			padding: 11px 0;
			text-align: right;
			button#goto_site{
				font-weight: 900;
			}
		}
	}
	/*
		>div:first-child{
			font: 400 2.5em/1 "Trade Winds";
		}
		>div:nth-child(2){
			font: 400 1.1em/1 "Berkshire Swash";
		}
		*/
}

//-------------------------------------------- #body here ------------------------------------

.selected{
	box-shadow: inset 0 0 10px rgba(30,100,140,1);
	background: rgba(30,100,140,.6) !important;
	color: white;
}

#body{
}

//-------------------------------------------- Footer here ------------------------------------

footer{
	border-top: solid 1px rgba(202,222,227,.2);
	margin: 0 0 0 0;
	font: 400 14px/1.2 "Ubuntu";
	color: rgba(202,222,227,.8);
	padding: 0 10px;
}

aside#invisibles{
	display: none;
}

// Browser specific css

@-moz-document url-prefix() {
	.textInput{
		font: 400 14px/1 "Ubuntu";
	}
	.button{
		font: 400 14px/1 "Ubuntu";
		padding: 3px;
		height: 28px;
	}
	#shorten_textarea{
		font: 400 14px/1 'Ubuntu' !important;
	}
	//	#brief_stats{
	//		box-shadow: 0 0 10px rgba(30,100,140,1);
	//	}
}