// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Architects+Daughter|Trade+Winds|Berkshire+Swash|Ubuntu:400,700);

*{
	margin: 0;
	padding: 0;
}
a{
	color: rgba(80, 180, 120, 1);
	font-style: italic;
}
body{
	font: 400 14px/1.2 'Architects Daughter';
	color: rgba(30, 100, 140, 1);
	background: image-url("subtle-light-pattern-background.jpg");
}
.bold{
	font-weight: 900 !important;
}
.red{
	color: rgba(150,20,20,1) !important;
}
.green{
	color: rgba(50,150,20,1) !important;
}
.blue{
	color: rgba(30,100,140,1) !important;
}
.black{
	color: rgba(0,0,0,.8) !important;
}
.smallest{
	font-size: 10px !important;
}
.smaller{
	font-size: 12px !important;
}
.small{
	font-size: 14px !important;
}
.normal_size{
	font-size: 16px !important;
}
.large{
	font-size: 18px !important;
}
.larger{
	font-size: 20px !important;
}
.largest{
	font-size: 22px !important;
}
table, table tr, table td {
	padding:none;
	border:none;
	border-spacing:0;
	margin: none;
}
.textInput{
	width: 150px;
	background: rgba(255,255,255,0);
	border: solid 1px rgba(30, 100, 140,.8);
	font: 400 16px/1 "Ubuntu";
	padding: 4px 5px;
	line-height:1;
	color: rgba(30, 100, 140,1);
	&:focus{
		outline: none;
		box-shadow: 0 0 10px rgba(30, 100, 140,.8);
	};
	&[disabled]{
		border: solid 1px rgba(100, 100, 100,.8);
		background: rgba(220,220,220,1);
	}
}
.center{
	text-align: center;
}
.ubuntu{
	font: 400 12px/1 'Ubuntu';
}
.button{
	font: 400 16px/1 'Ubuntu';
	background: rgba(60, 130, 180, 1);
	line-height: 1;
	padding: 5px;
	color: rgba(255,255,255,1);
	border: solid 1px rgba(20, 70, 110, 1);
	cursor: pointer;
	&:hover{
		background: rgba(60, 130, 180, .9);
		box-shadow:0 0 10px 0 rgba(30, 100, 140, 1);
		-moz-box-shadow:0 0 5px 0 rgba(30, 100, 140, 1);
	}
	&:focus{
		outline: none;
	}
	&[disabled]{
		border: solid 1px rgba(100,100,100,1);
		background: rgba(180, 180, 180, 1);
		color: rgba(100,100,100,1);
		&:hover{
			box-shadow: none;
		}
	}
}
.heading{
	font-family: "Trade Winds";
	font-size: 1.5em;
}

.display{
	display: block;
}

.nodisplay{
	display: none;
}

//-------------------------------------------- header here ------------------------------------

header{
	color: rgba(30, 100, 140, 1);
	text-align: center;
	text-shadow: 0 0 8px rgba(30, 100, 140, .8);
	padding: 10px 0 15px 0;
	margin: 0 0 30px 0;
	background-color: rgba(255,255,255, .5);
	background-image: image-url("verticalbar.png");
	background-repeat: repeat-x;
	background-position: 0 100%;
	box-shadow: 0 0 15px 0 rgba(0,0,0,1);

	>div:first-child{
		font: 400 2.5em/1 "Trade Winds";
	}
	>div:nth-child(2){
		font: 400 1.1em/1 "Berkshire Swash";
	}
}

//-------------------------------------------- #body here ------------------------------------

#body{
	width: 800px;
	margin: auto;
	box-shadow: inset 0 0 15px rgba(0,0,0,.6);
	background-color: rgba(255,255,255,.5);
	position: relative;
	height: 248.8px;     //ensam 1
	overflow: hidden;
	/*border-radius: 10px;*/

	>div{
		height: 100%;
		width: 1400px;
		position: absolute;
	
		#description{
			width: 560px;
			padding: 20px;
			float: left;
			height: 208.8px;    //ensam 1
		
			table#desc tr > td{
				width: 300px;
				text-align: center;
			}
			table#desc tr > td:first-child{
				border-right: 1px solid rgba(30, 100, 140, .5);
			}
			table#desc tr:first-child{
				height: 35px;
			}
			.elclassico{
				width: 280px;
				height: 120px;
				padding: 10px;
				background-color: rgba(30, 100, 140, .1);
				font-size: 1.2em;
				/*box-shadow: inset 0 0 10px rgba(30, 100, 140, .5);*/
			}
		}
		#middle{
			width: 160px;
			padding: 20px;
			float: left;
			background-color: rgba(30, 100, 140, .2);
			font-family: "Trade Winds"; 
			font-size: 1.5em;
			text-align: center;
			height: 208.8px;    //ensam 1
			cursor: pointer;
		
			>div{
				margin-top: 62px;
			
				>table:first-child td:first-child{
					width: 140px;
				}
				>table:first-child td:last-child{
					width: 20px;
					font-size: 2em;
				}
				>table:last-child td:first-child{
					width: 20px;
					font-size: 2em;
				}
				>table:last-child td:last-child{
					width: 140px;
				}
			}
		}
		#loginRegister{
			width: 560px;
			padding: 20px;
			float: right;
			height: 208.8px;    //ensam 1
			.textInput{
				padding: 0;
			}
			table#logreg{
				>tbody>tr{
					>td{
						width: 340px;
						text-align: center;
						&:first-child{
							width: 260px;
							border-right:1px solid rgba(30, 100, 140, .5);
						}
					}
					&:nth-child(2){
						td{
							table{
								tr{
									td{
										text-align: right;
										height: 30px;
										span{
											margin: 0 5px;
											font-size: 1.16em
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
//-------------------------------------------- Try it out -------------------------------------
#tryit{
	width: 800px;
	margin: 15px auto 0 auto;
	>div:first-child{
		padding: 0 0 5px 0;
		border-bottom: solid 1px rgba(30, 100, 140, .5);
	};
	>div:nth-child(2){
		margin-top: 10px;
		form#try_it{
			div:nth-child(2){
				display: table;             // Added this line to make float get height automatically
				>div{
					display: table-row;     // Added this line to make float get height automatically
					float: left;
					margin: 0 10px 0 0;
					height: 28px;
					&:nth-child(3){
						>textarea{
							color: rgba(30, 100, 140, 1);
							font: 400 16px/1 "Ubuntu";
							padding: 5px;
							max-height:16px;
						}
					};
					&:nth-child(4){
						font: 400 16px/1 "Ubuntu";
						padding: 6px 0;
						cursor: pointer;
					}
					
					&:last-child{
						margin:0;
					}
					input.textInput{
						width: 400px;
					};
				}
			}
		};
	};
}
//-------------------------------------------- Footer here ------------------------------------

footer{
	margin: 20px 0 0 0;
	box-shadow: inset 0 0 10px rgba(0,0,0,1);
	background: rgba(0,0,0,.7);
	font: 400 15px/1.2 "Ubuntu";
	color: rgba(202,222,227,1);
	hr{
		border:solid 1px rgba(202,222,227,.2);
	};
	a{
		color: rgba(202,222,227,1);
		text-decoration: none;
		font-style: normal;
	};
	a:hover{
		text-decoration: underline;
	};
	>div{
		margin: auto;
		padding: 20px;
		width: 800px;
		>div:first-child{
			padding: 0 0 10px 0;
		}
		>div:nth-child(3){
			margin: 10px 0 0 0;
			ul{
				list-style-type:none;
			};
			table{
				td{
					width: 200px;
				}
			}
		}
	}
}

// Browser specific css

@-moz-document url-prefix() {
	.textInput{
		font: 400 14px/1 "Ubuntu";
	}
	.button{
		font: 400 14px/1 "Ubuntu";
		padding: 3px;
		height: 28px;
    }
}